<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinux.test.dao.UserDao">
	<resultMap id="userResultMap" type="com.xinux.test.model.User">
		<id column="id" property="id" />
		<result column="user_name" property="userName" />
		<result column="password" property="password" />
		<result column="age" property="age" />
		<result column="email" property="email" />
	</resultMap>

	<sql id="Base_Column_List">
		id, user_name, password, age, email
	</sql>
	<select id="findUserById" resultMap="userResultMap"
		parameterType="int">
		select
		<include refid="Base_Column_List" />
		from user_t
		where id = #{id}
	</select>
	<select id="findUserByName" resultMap="userResultMap"
		parameterType="String">
		select
		<include refid="Base_Column_List" />
		from user_t
		where user_name = #{userName}
	</select>
	<delete id="deleteUserById" parameterType="int">
		delete from user_t
		where id = #{id}
	</delete>
	<!-- 对于数据库表的主键不是自增的类型 -->
	<!-- <insert id="insertUser" parameterType="User">
		<![CDATA[
		insert into user_t (user_name, password,
		age)
		values (#{userName}, #{password}, #{age})
		]]>
		<selectKey resultType="int" keyProperty="id">
			SELECT @@IDENTITY
			AS id
		</selectKey>
	</insert> -->
	<insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
		insert into user_t (user_name, password,
		age, email)
		values (#{userName}, #{password}, #{age}, #{email})
	</insert>
	<update id="updateUserInfo" parameterType="User">
		update user_t
		<set>
			<if test="userName != null">
				user_name = #{userName},
			</if>
			<if test="password != null">
				password = #{password},
			</if>
			<if test="age != null">
				age = #{age},
			</if>
			<if test="emaili != null">
				age = #{email},
			</if>
		</set>
		where id = #{id}
	</update>
	<select id="findAllUsers" resultMap="userResultMap">
		select
		<include refid="Base_Column_List" />
		from user_t
	</select>
</mapper>